@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

body {
    margin: 0;
}

.mdc-top-app-bar .mdc-tab {
    // @include mdc-tab-text-label-color(white);
    // @include mdc-tab-icon-color(white);
    // @include mdc-tab-states-color(white);
    @include mdc-tab-ink-color(white);
    @include mdc-tab-indicator-underline-color(white);
    @include mdc-tab-indicator-icon-color(white);
    // @include mdc-tab-active-text-label-color($color);
    // @include mdc-tab-active-icon-color($color);
    // @include mdc-tab-active-states-color($color);
}